<h1>James Hudson</h1>
<h3>Reach Manufacturing Services</h3>

<h6>My mission is to help great manufacturers find customers while giving
their customers the confidence they need when aquiring new suppliers! </h6>

<br>

<p>Served over 17 years in working complex processes with roles in engineering,
  production management, materials management, shop management, and trade skills
  (including CNC/Manual Machining, welding, and complex fabrication). I currently
  hold an MBA in business operations from Indiana Weslyan University, Bachelors
  in Operations Management with work in Mechnical engineering and Design from both
  Purdue University and IVY Technical Institue.
 </p>
