<div class="inner cover">
  <h1 class="cover-heading">Why wait for opportunities when you can REACH!</h1>
  <p class="lead">Growing businesses by increasing customer and supplier confidence.
    Selecting the right supplier to provide the best service with the lowest cost
    increases value for your business and your customers. My mission is to provide the
    right tools to select these suppliers and allow these suppliers to compete for your
    busines, and give tools to suppliers to tap into new business as well as increase supplier's
    performance. This is the true Custormer/Supplier relationship platform. 
  </p>
  <p class="lead">
    <%= link_to "More About James", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
